html, body, .container-fluid { height: 100% }
#map{
    position: relative;
    width: 100%;
    height: 100%;
    /*margin-top: 10%;*/
    display: block;
    vertical-align: middle;
    /*margin: 0 auto;*/
    /*max-height: 500px;*/
    /*height: 95%;*/
    /*width: 95%;*/
    /*background-color: black*/
}

.datamaps-legend {
    padding-left: 33%;
    margin-top: 10px;
}

#title{
    background-color: #C0C0C0;
    color: white;
    padding: 5px;
}

#map-row{
    height: 70%;
    display: block;
    /*background-color: red;*/
    margin-bottom: 20px;
}


#critText, #critDesc{
    text-align: center;
}

#title-row{
    height: 20%;
    text-align: center;
}

#bottom-row{
    height: 10%;
    margin-top: 30px;
}

#map-cotainer {
    height: 100%;
    display: block;
    /*background-color: yellow;*/
}

#picker-label{
    text-align: center;
}

#command{
    /*margin-top: 50px;*/
}

.option-center{
    text-align: center;
    padding-left: 45%;
    font-size: 20px;
}

.text-center{
    text-align: center;
}

